<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="ArcGIS Web Adaptor" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="ArcGISWebAdaptorListener" />
          <remove name="Default" />
        </listeners>
      </source>
     </sources>
     <switches>
       <add name="sourceSwitch" value="Off" />
     </switches>
     <sharedListeners>
       <add name="ArcGISWebAdaptorListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic,      Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" traceOutputOptions="DateTime,  Timestamp" location="custom" customlocation="c:\inetpub\logs\LogFiles\webadaptor\" logfilecreationschedule="weekly" />
      </sharedListeners>
    </system.diagnostics>

    <location path="WebAdaptorHelp">
        <system.webServer>
            <handlers>
                <add name="HelpModule" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            </handlers>
        </system.webServer>
    </location>
    <location path="PortalWebAdaptorHelp">
            <system.webServer>
                <handlers>
                    <add name="HelpModule" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
                </handlers>
            </system.webServer>
    </location>
    <location path="tokens">
        <system.webServer>
            <handlers>
              <add name="WebAdaptorTokensHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
            </handlers>
        </system.webServer>
    </location>
    <location path="manager">
        <system.webServer>
            <handlers>
                <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
            </handlers>
        </system.webServer>
    </location>
    <location path="login">
        <system.webServer>
            <handlers>
                <add name="WebAdaptorTokensHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
            </handlers>
        </system.webServer>
    </location>
    <location path="help">
	<system.webServer>
	     <handlers>
		 <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	      </handlers>
	</system.webServer>
    </location>
    <location path="home">
	<system.webServer>
	<handlers>
	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	</handlers>
	</system.webServer>
    </location>
    <location path="sharing">
	<system.webServer>
	    <handlers>
		<add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	    </handlers>
	</system.webServer>
    </location>
    <location path="explorer">
	<system.webServer>
	<handlers>
	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	</handlers>
	</system.webServer>
    </location>
    <location path="arcgisuris_ssl.xml">
    	<system.webServer>
    	<handlers>
    	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    	</handlers>
    	</system.webServer>
    </location>
    <location path="arcgisuris.xml">
	<system.webServer>
	<handlers>
	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	</handlers>
	</system.webServer>
    </location>
    <location path="arcgismobile.txt">
    	<system.webServer>
    	<handlers>
    	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    	</handlers>
    	</system.webServer>
    </location>
    <location path="portalhelp">
    	<system.webServer>
    	<handlers>
    	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    	</handlers>
    	</system.webServer>
    </location>
    <location path="apps">
	    <system.webServer>
	        <handlers>
	           <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	        </handlers>
	    </system.webServer>
    </location>
    <location path="jsapi">
      	<system.webServer>
       	<handlers>
       	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
       	</handlers>
       	</system.webServer>
    </location>
    <location path="portaladmin">
       	<system.webServer>
    	     <handlers>
               <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
              </handlers>
        </system.webServer>
    </location>
    <location path="webadaptor">
        <system.webServer>
            <handlers>
                <add name="WebAdaptorConfigurationStaticJpegFilesHandler" path="*.jpeg" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
                <add name="WebAdaptorConfigurationStaticPngFilesHandler" path="*.png" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            </handlers>
        </system.webServer>
    </location>
    <location path="portalimages">
        <system.webServer>
	    	<handlers>
	    	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	    	</handlers>
    	</system.webServer>
    </location>
    <location path="opsdashboard">
        <system.webServer>
    	    	<handlers>
    	    	    <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    	    	</handlers>
         </system.webServer>
    </location>
  <location path="styleItems">
    <system.webServer>
      <handlers>
        <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
   <location path="resources">
    <system.webServer>
      <handlers>
        <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
   </location>
  <location path="oauth">
    <system.webServer>
      <handlers>
        <add name="WebAdaptorManagerHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.PortalHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
   <location path="security">
    <system.webServer>
      <handlers>
        <add name="WebAdaptorConfigurationStaticFilesHandler" path="*.js" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
    </system.webServer>
    </location>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
    <system.web>
        <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
         <httpRuntime maxUrlLength="2000" maxRequestLength="2097151" executionTimeout="100000" targetFramework="4.5" />
        <httpModules>
            <add name="WebAdaptorAuthenticationModule" type="ESRI.ArcGIS.WebAdaptor.AuthenticationModule, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" />
        </httpModules>
        <httpHandlers>
            <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
            <add path="*.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" />
        </httpHandlers>
        <compilation debug="false" targetFramework="4.5">
            <assemblies>
                <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" />
            </assemblies>
        </compilation>
        <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->

        <authentication mode="Windows" />
        <machineKey validationKey="EB8BC29E818BAD6D9952FBC7974F78052A8CF23001FC5F237944F6A86D7F0B5F5B9F641612A0AF8DF1571A7006A86B8184F472C68351D16C4B1AFA8E23452242" decryptionKey="D2EBEED010333DD40321234A7F7D87CC5EEF071E17FB152D" validation="SHA1" decryption="3DES" />
        <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
            <providers>
                <clear />
                <add name="AspNetWindowsTokenRoleProvider" applicationName="arcgis" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
             </providers>
        </roleManager>
        <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <pages validateRequest="false" />
        <urlMappings enabled="true">
            <add url="~/webadaptor" mappedUrl="~/webadaptor/WebAdaptor.aspx" />
            <add url="~/webadaptor/" mappedUrl="~/webadaptor/WebAdaptor.aspx" />
            <add url="~/webadaptor/webadaptor" mappedUrl="~/webadaptor/WebAdaptor.aspx" />
            <add url="~/webadaptor/server" mappedUrl="~/webadaptor/AGSConfig.aspx" />
            <add url="~/webadaptor/server/" mappedUrl="~/webadaptor/AGSConfig.aspx" />
            <add url="~/webadaptor/portal" mappedUrl="~/webadaptor/PortalConfig.aspx" />
            <add url="~/webadaptor/portal/" mappedUrl="~/webadaptor/PortalConfig.aspx" />
            <add url="~/webadaptor/security" mappedUrl="~/webadaptor/AuthConfig.aspx" />
            <add url="~/webadaptor/update" mappedUrl="~/webadaptor/Update.aspx" />
            <add url="~/WebAdaptorHelp" mappedUrl="~/WebAdaptorHelp/index.html" />
        </urlMappings>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v4.0" />
                <providerOption name="WarnAsError" value="false" />
            </compiler>
        </compilers>
    </system.codedom>
    <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>

	    <security>
                <requestFiltering>
                  <requestLimits maxAllowedContentLength="2147483648" />
                </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="WebAdaptorAuthenticationModule" type="ESRI.ArcGIS.WebAdaptor.AuthenticationModule, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" />
        </modules>

        <handlers>
            <remove name="StaticFile" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ASPages" verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            <add name="axdHandler" path="*.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" requireAccess="Script" />
            <add name="WebAdaptorHandler" path="*" verb="*" type="ESRI.ArcGIS.WebAdaptor.AGSHandler, ESRI.ArcGIS.WebAdaptor, Version=10.6.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
