<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <GISServer>
    <Nodes xsi:nil="true" />
    <SiteUrl />
    <HttpPort>6080</HttpPort>
    <HttpsPort>6443</HttpsPort>
    <Id />
    <SharedKey />
    <Protocol>HTTP</Protocol>
    <RoleCache>
      <NumberOfUsers>100</NumberOfUsers>
      <Expiration>5</Expiration>
      <Enabled>true</Enabled>
      <CacheAllRolesInMemory>false</CacheAllRolesInMemory>
    </RoleCache>
    <EnableGetRolesForUser>true</EnableGetRolesForUser>
  </GISServer>
  <Portal>
    <PortalNodes />
    <URL />
    <HttpPort>7080</HttpPort>
    <HttpsPort>7443</HttpsPort>
    <Id />
    <SharedKey />
  </Portal>
  <Version>10.6.0</Version>
</Config>